#!/usr/bin/python3.7
my_user='user'
my_pass='pass'
my_host='127.0.0.1'
my_db='database'
xmpp_user='xmpp_user@nchs.gmcsurat.edu.in'
xmpp_pass='xmpp_pass'

'''
example /var/gmcs_config/astm_var.py
used to hide password of mysql at some secure place
------------------------------------
self.get_link(astm_var.my_host,astm_var.my_user,astm_var.my_pass,astm_var.my_db)
'''
