<?php
$GLOBALS['main_user']='xxxxx';
$GLOBALS['main_pass']='xxxxx';
$GLOBALS['email_user']='xxxxxroot';
$GLOBALS['email_pass']='xxxxxxx';
$GLOBALS['email_db_server']='11.207.1.2';
$GLOBALS['ser']='BIOCHEMISTRY';
$GLOBALS['_telegram_token_']='1xxxxx';
$GLOBALS['_telegram_chatid_']='-xxxxxx';
?>
